<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %} | Finanças da Casa</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('categorias') }}">Categorias</a>
        <a href="{{ url_for('novo_lancamento')}}">Novo lançamento</a>
    </nav>

    <main>
        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>
